* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #0366d6;
}

a:hover {
    text-decoration: underline;
}

main{
    padding: 20px;
}
